<div class="container" 
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h2>Education</h2>
      <hr>
    </div>
  </div>

  <div fxFlex *ngIf=studies [@expand]>
    <mat-grid-list [cols]="breakpoint" rowHeight="340px">
      <mat-grid-tile *ngFor="let study of studies" [routerLink]="['/studydetail', study.id]" appHighlight>
        <img height="230px" matListAvatar src="{{BaseURL + study.logo}}" alt="{{BaseURL + study.name}}">
        <mat-grid-tile-footer>
          <h1>{{study.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [hidden]="studies || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading...Please wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>
