<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50" style="padding:0">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4 style="padding-left:30px">Links</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink='/home'>Home</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/education'>Education</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/employment'>Employment</a></mat-list-item>
          <mat-list-item><a mat-button routerLink='/contact'>Contact</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Contact</h4><br>
        <address>
          1 Mark Square WeWork<br> London, EC2A 4EG<br><br>
          <i class="fa fa-phone"></i>: +44 7388006532<br><br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:c.whitehouse@email.com">c.whitehouse@email.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-github" href="https://github.com/ChenxiJ"><i class="fab fa-github fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/chenxi-whitehouse-107a65137/"><i class="fab fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:c.whitehouse@email.com"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2020 Chenxi</p>
  </div>
</div>