$lt-gray: #ddd;
$background-pale: #889bf3;
$background-darker: #2f3888;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-pale;
    color:floralwhite;
    min-height: 150px;
}

.active {
  background: $background-darker;
}